/* Fundo da seção Sobre */
.fundo_sobre {
    width: 100%;
    min-height: 11vh; /* substitui height fixa */
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
}

/* Seção inicial (intro) */
.inicial_sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* centraliza texto em telas pequenas */
}

.titulo_conteudo_sobre {
    font-family: 'Cookie';
    font-size: clamp(3.5rem, 8vw, 5rem); /* responsivo */
    margin-top: -2rem; /* ajustado para telas pequenas */
    font-weight: 500;
}

.texto_sobre {
    max-width: 60%;
    font-family: 'Quicksand', sans-serif;
    font-size: 180%;
    margin-top: 1rem;
    line-height: 1.6;
}

/* História */
.secao_historia {
    background-color: #EEC5F3;
    padding: 4rem 1rem;
    margin-top: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column; /* default para mobile */
    align-items: center;
    justify-content: center;
    gap: 2rem; 
}

#historia{
    display: flex;
    flex-direction: row;

}

.fundo_historia {
    width: 100%;
    max-width: 72rem;
    display: grid;
    gap: 2.5rem;

    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    margin: auto;
}

@media(min-width: 768px){
    .secao_historia {
        flex-direction: row;
        justify-content: space-between;
    }

    .fundo_historia {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Imagem da história */
.imagem_historia {
    height: 400px;
    width: 100%; /* fica responsivo no mobile */
    max-width: 400px; /* limite de largura em telas grandes */
    background-image: url(../../assets/images/neia-foto-sobre.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 40px;
    box-shadow: inset  5px 5px var(--cor-terciaria);

    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--cor-primaria);
    margin: 0 auto; /* centraliza no mobile */
}

/* Texto da história */
.titulo_historia {
    font-family: 'Cookie', cursive;
    font-weight: 700;
    font-size: clamp(3rem, 5vw, 2.25rem); /* responsivo */
    margin-bottom: 1rem;
    color: var(--cor-primaria);
    text-align: center;
    font-weight: 550;
}

.citacao_historia {
    color: #374151;
    line-height: 1.75;
    font-style: italic;
    border-left: 4px solid var(--cor-primaria);
    padding-left: 1rem;
    margin-top: 1rem;
}
