:root{
    --cor-fundo: #ECEBF5;
    --cor-primaria: #9D98CA;
    --cor-secundaria: #F8C7DD;
    --cor-terciaria: #ACD7DE;
    --cor-escrito: #8259BD;
}

header{
    height: 140px;
    background-color: var(--cor-fundo);

    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 13%;
    height: 90%;
    margin-left: 0px;
}

.Logo:hover{
     transform: scale(1.1);
}

nav{
    display: flex;
    flex-direction: row;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    padding: 10px;
}

.menu a{
    color: var(--cor-primaria);
    font-family: Futura-Book;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.links a:hover {
    color: var(--cor-secundaria);
}

.whatsapp{
    width: 280px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    
    text-align: center;

    background: var(--cor-primaria);

    display: flex;
    flex-direction: row;
}

.icone_what{
    margin-right: 20px;
}

.whatsapp a{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.whatsapp:hover{
    background: var(--cor-terciaria);
    color: var(--cor-fundo);
}